
body {
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
	font-weight: 500;
}

.dropdown-item:hover {
	
}

.new-image {
	background-image: url(./images/photo-1.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

h1,h2, h5, h6 {
	font-weight: 700;
}

.second-image {
	background-image: url(./images/photo-2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

#google_map {
	height: 400px;
	width: 500px;
}